@model IEnumerable<DAL.Entities.Tour>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table td{
        padding: 5px;
    }
</style>

<h3>Danh sách tour</h3>

<br />
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        <table class="table-responsive">
            <tr>
                <td>
                    <label>Loại tour: </label>
                </td>
                <td>
                    @Html.DropDownList("tourType", ViewBag.TourTypes as SelectList,
               "------ Chọn Loại Tour ------",
                new { @class = "form-control" , @Value = Request.Form["tourType"] })
                </td>
                <td>
                    <label>Mã tour: </label>
                </td>
                <td>
                    <input type="text" name="code" class="form-control" 
                           value="@(Request.Form["code"])"/>
                </td>
                <td>
                    <label>Tên tour: </label>
                </td>
                <td>
                    <input type="text" name="name" class="form-control" 
                           value="@(Request.Form["name"])"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Số ngày: </label>
                </td>
                <td>
                    <input type="number" name="day" class="form-control" 
                           value="@(Request.Form["day"])"/>
                </td>
                <td>
                    <label>Số đêm: </label>
                </td>
                <td>
                    <input type="number" name="night" class="form-control" 
                           value="@(Request.Form["night"])"/>
                </td>
                <td>
                    <label>Giá từ: </label>
                </td>
                <td>
                    <input type="number" name="minPrice" class="form-control" 
                           value="@(Request.Form["minPrice"])"/>
                </td>
                <td>
                    <label>Giá đến: </label>
                </td>
                <td>
                    <input type="number" name="maxPrice" class="form-control" 
                           value="@(Request.Form["maxPrice"])"/>
                </td>
            </tr>
            <tr class="text-right">
                <td colspan="8">
                    <input style="margin-left: 10px;" type="submit" class="btn"
                           value="Hủy" name="resetTourForm" />
                    <input style="margin-left: 10px;" type="submit" class="btn"
                           value="Tìm kiếm" name="findTour" />
                </td>
            </tr>
        </table>         
    </div>
    <br>
    <table class="table">
        <tr>
            <th>
                Mã tour
            </th>
            <th>
                Tên tour
            </th>
            <th>
                Loại tour
            </th>
            <th>
                Xuất phát
            </th>
            <th>
                Số ngày
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Giá
            </th>
            <th>
                Mô tả
            </th>
            <th>Chi tiết</th>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name), @Html.DisplayFor(modelItem => item.District.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day) ngày @Html.DisplayFor(modelItem => item.Night) đêm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @String.Format("{0:N0}", item.Price)
            </td>
            <td style="width: 60px">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Xem đoàn", "Details", new { id = item.ID })
            </td>
        </tr>
    }

    </table>
}
